<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd"
       xmlns:context="http://www.springframework.org/schema/context">

    <context:annotation-config />
    <import resource="dbcontext.xml"/>

    <bean name="authorizationDao" class="com.bsuir.piskun.dao.impl.AuthorizationDaoImpl"/>
    <bean name="groupDao" class="com.bsuir.piskun.dao.impl.GroupDaoImpl"/>
    <bean name="lessonDao" class="com.bsuir.piskun.dao.impl.LessonDaoImpl"/>

    <bean name="authorizationService" class="com.bsuir.piskun.services.impl.AuthorizationServiceImpl"/>
    <bean name="groupService" class="com.bsuir.piskun.services.impl.GroupServiceImpl"/>
    <bean name="lessonService" class="com.bsuir.piskun.services.impl.LessonServiceImpl"/>

</beans>